*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
}
nav{
    padding: 10px 10%;
    height: 15vh;
}
nav ul{
 display: flex;
 gap: 70px;
 font-weight: 500;
 align-items: center;


}
nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight: 600;
    
}
nav ul img{
    width: 100px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftmain{
    width: 40%;
}
.leftmain h1{
    font-size: 60px;
}

.leftmain p{
    margin: 5% 0;
    font-size: 20px;
}

.leftmain button{
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    border: none;
    background-color: green;
}

.leftmain button:hover{
    background-color: #fff;
    color: black;
    border: 1px solid black;
}


.rightmain {
    /* width: 60%; */
    padding: 7%;
  }
  
  .rightmain div img {
    width: 30%;
  }
  
  .rightmain div img:first-child {
    margin-right: 20px;
  }
  
  .rightmain div {
    margin-bottom: 20px;
  }
  
  .rightmain > img {
    width: 64%;
  }